*{
	padding: 0;
	margin: 0;
}
html,body{
	background: blanchedalmond;
}
.div1{
	margin: 200px auto;
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
}
.div3 div{
	position: absolute;
	width: 235px;
	height: 235px;
	left: 500px;
	opacity: 0.75;
	border-radius: 15px;
	/*transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;*/
}
.div2{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-30deg);
	transform: rotateX(-30deg);
}
.div3 div#d1{
	transform: rotateY(0deg) translateZ(200px);
	-webkit-transform: rotateY(0deg) translateZ(200px);
}
.div3 div#d2{
	transform: rotateY(60deg) translateZ(200px);
	-webkit-transform: rotateY(60deg) translateZ(200px);
}
.div3 div#d3{
	transform: rotateY(120deg) translateZ(200px);
	-webkit-transform: rotateY(120deg) translateZ(200px);
}
.div3 div#d4{
	transform: rotateY(180deg) translateZ(200px);
	-webkit-transform: rotateY(180deg) translateZ(200px);
}
.div3 div#d5{
	transform: rotateY(240deg) translateZ(200px);
	-webkit-transform: rotateY(240deg) translateZ(200px);
}
.div3 div#d6{
	transform: rotateY(300deg) translateZ(200px);
	-webkit-transform: rotateY(300deg) translateZ(200px);
}
.div3{
	height: 235px;
	width: 235px;
	border-radius:15px ;
	
}
.div3 img{
	width: 235px;
	height: 235px;
}
.div3 div:hover{
	opacity: 1;
}
.div3 div:hover img{
	/*height: 400px;
	width: 400px;*/
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	margin-left: -50px;
	margin-top: -50px;
	/*opacity: 1;*/
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
